streamlit==1.48.0
yt-dlp==2025.8.11
moviepy==2.2.1
youtube-transcript-api==1.2.2
llama-index==0.13.1
qdrant-client==1.15.1
google-generativeai==0.8.5
Pillow==11.3.0
python-dotenv==1.1.1
PyYAML==6.0.2
transformers==4.55.0
torch==2.8.0
tqdm==4.67.1
loguru==0.7.3
opencv-python
moviepy==1.0.3
llama-index-embeddings-huggingface
llama-index-vector-stores-qdrant
llama-index-embeddings-clip